---
# Test haproxy config with clustercheck and mysqlchk from https://docs.percona.com/percona-xtradb-cluster/8.0/howtos/haproxy.html
# Short description:
# * clustercheck is a script that is installed with cluster. It checks mysql availability with http. Location: /usr/bin/clustercheck.
#   User should be created in DB. Defaults are: 'clustercheckuser' and 'clustercheckpassword!'
#   Examples of output: https://docs.percona.com/percona-xtradb-cluster/8.0/faq.html#how-can-i-check-the-galera-node-health
# * mysqlchk - used to to daemonize the clustercheck script using xinetd. Its config: /etc/xinetd.d/mysqlchk .
# Setup:
#   Clustercheck is set up to listen on port 9200 using mysqlchk (xinetd). haproxy is set up to send http check requests to 9200.
#   So haproxy monitors pxc nodes via Clustercheck script.
#   haproxy listens on 9201 port and re-sends received requests to node(s) (db01 localhost:3306)
#
# /usr/bin/clustercheck

- name: include playbook for removing Percona repo
  include_tasks: ../../../tasks/remove_percona_repository.yml

- name: Install percona release
  include_tasks: ../../tasks/install_percona_release.yml

- name: enable the PDMYSQL-80 repo
  command: percona-release enable-only pdpxc-{{ version }} {{ repo }}
  vars:
    repo: "{{ lookup('env', 'REPO') }}"
    version: "{{ lookup('env', 'VERSION') }}"

- name: clean and update yum cache
  shell: |
    yum clean all
    yum makecache
  when: ansible_facts['distribution'] in ['RedHat','CentOS','OracleLinux','Amazon'] and ansible_facts['distribution_major_version'] | int < 8

- name: clean and update dnf cache
  shell: |
    dnf clean all
    dnf makecache
  when: ansible_facts['distribution'] in ['RedHat','CentOS','OracleLinux','Amazon'] and ansible_facts['distribution_major_version'] | int >= 8

- name: disable the mysql module on RHEL/CentOS 8+
  command: dnf module disable mysql -y
  when: ansible_facts['distribution'] in ['RedHat','CentOS','OracleLinux','Amazon'] and ansible_facts['distribution_major_version'] | int >= 8

- name: disable the mariadb module on RHEL/CentOS 8+
  command: dnf module disable mariadb -y
  when: ansible_facts['distribution'] in ['RedHat','CentOS','OracleLinux','Amazon'] and ansible_facts['distribution_major_version'] | int >= 8

- name: install PXC 8 deb packages
  apt:
    name: "{{ packages }}"
    update_cache: yes
  vars:
    packages:
    - percona-xtradb-cluster-full
    - percona-xtradb-cluster-client
    - percona-xtradb-cluster-common
    - percona-xtradb-cluster-dbg
    - percona-xtradb-cluster-garbd-debug
    - percona-xtradb-cluster-garbd
    - percona-xtradb-cluster-server
    - percona-xtradb-cluster-server-debug
    - percona-xtradb-cluster-test
    - percona-xtradb-cluster
  when: ansible_os_family == "Debian"
  environment:
    PERCONA_TELEMETRY_URL: "https://check-dev.percona.com/v1/telemetry/GenericReport"

- name: install HA Proxy 8 deb packages
  apt:
    name: "{{ packages }}"
    update_cache: yes
  vars:
    packages:
    - percona-haproxy
    - percona-haproxy-doc
    - percona-vim-haproxy
  when: ansible_os_family == "Debian"

- name: install xinetd deb packages
  apt:
    name: "{{ packages }}"
    update_cache: yes
  vars:
    packages:
    - xinetd
  when: ansible_os_family == "Debian"

- name: bootstrap pxc node
  service: name=mysql@bootstrap.service state=started
  when: ansible_os_family == "Debian"

- name: Update haproxy config
  blockinfile:
    path: /etc/haproxy/haproxy.cfg
    block: |
      listen mysql-cluster
          bind :9201
          mode tcp
          balance roundrobin
          option  httpchk
          server db01 localhost:3306 check port 9200 inter 12000 rise 3 fall 3

- name: Create mysqlchk cnf
  copy:
    src: mysqlchk
    dest: /etc/xinetd.d/mysqlchk
    owner: root
    group: root
    mode: 0644
  register: mysqlchk_copy_result

- name: Debug: show result of mysqlchk cnf creation
  debug:
    var: mysqlchk_copy_result

- name: add mysqlchk to services with 9200 port
  lineinfile:
    path: /etc/services
    line: mysqlchk        9200/tcp                # mysqlchk
  register: mysqlchk_lineinfile_result

- name: Debug: show result of adding mysqlchk to services
  debug:
    var: mysqlchk_lineinfile_result
