  - name: include playbook for removing Percona repo
    include_tasks: remove_percona_repository.yml

  - name: Install percona release Debian
    apt:
      deb: https://repo.percona.com/apt/percona-release_latest.generic_all.deb
    when: ansible_os_family == "Debian"

  - name: Install percona release RHEL
    command: rpm -ivh --nodigest --nofiledigest https://repo.percona.com/yum/percona-release-latest.noarch.rpm
    when: ansible_os_family == "RedHat"

  - name: add an apt signing key to enable repo
    apt_key:
      url: https://percona.com/downloads/deb-percona-keyring.gpg
      state: present
    when: ansible_os_family == "Debian"

  - name: add eol main repository on debian
    template: src=../templates/eol_deb_repo_file_ps57.j2
              dest=/etc/apt/sources.list.d/post-eol.list
    vars:
      client_id: "{{ lookup('env', 'USERNAME') }}"
      client_token: "{{ lookup('env', 'PASSWORD') }}"
      repo: "main"
    when:
      - ansible_os_family == "Debian"

  - name: add eol release repository on Redhat
    template: src=../templates/eol_rpm_repo_file_ps57.j2
             dest=/etc/yum.repos.d/post-eol.repo
    vars:
      client_id: "{{ lookup('env', 'USERNAME') }}"
      client_token: "{{ lookup('env', 'PASSWORD') }}"
      repo: "release"
    when:
      - ansible_os_family == "RedHat"

  - name: enable the tools release
    command: percona-release enable tools release

  - name: update deb cache
    command: apt update
    when:
      - ansible_os_family == "Debian"

  - name: clean and update yum cache
    shell: |
      yum clean all
      yum makecache
    when: ansible_os_family == "RedHat"
