# This task installs all the PSMDB packages without using the meta package

  - name: install psmdb deb packages
    apt:
      name: "{{ packages }}"
      update_cache: yes
      state: latest
    vars:
      packages:
      - percona-server-mongodb
      - percona-server-mongodb-server
      - percona-server-mongodb-mongos
      - percona-server-mongodb-shell
      - percona-server-mongodb-tools
      - percona-server-mongodb-dbg
    when: ansible_os_family == "Debian"

  - name: install psmdb rpm packages
    yum:
      name: "{{ packages }}"
      state: latest
    vars:
      packages:
      - percona-server-mongodb
      - percona-server-mongodb-server
      - percona-server-mongodb-mongos
      - percona-server-mongodb-shell
      - percona-server-mongodb-tools
      - percona-server-mongodb-debuginfo
    when: ansible_os_family == "RedHat"
