# This task enables Percona Server for MongoDB 44 (psmdb44) and  MongoDB 50 (psmdb50) main repository, installs and starts modgodb.

# Enable psmdb repo and install psmdb
  - name: include tasks for enabling psmdb 44 repo
    include_tasks: ../tasks/enable_psmdb_repo.yml
    vars:
      psmdb_repo: "psmdb-44 release"
    when: lookup('env', 'install_with') == "psmdb44"

  - name: include tasks for enabling psmdb 50 repo
    include_tasks: ../tasks/enable_psmdb_repo.yml
    vars:
      psmdb_repo: "psmdb-50 release"
    when: lookup('env', 'install_with') == "psmdb50"

  - name: include tasks for enabling psmdb 50 repo
    include_tasks: ../tasks/enable_psmdb_repo.yml
    vars:
      psmdb_repo: "psmdb-60 release"
    when: lookup('env', 'install_with') == "psmdb60"

  - name: include tasks for installing psmdb packages
    vars:
      packages: percona-server-mongodb
    include_tasks: ../tasks/install_psmdb.yml

# Start psmdb service
  - name: start mongod service
    service: 
      name: mongod
      state: started
