# This task installs sysbench on CentOS and Debian/Ubuntu

  - name: install sysbench new deb packages
    apt:
      name: "{{ packages }}"
      update_cache: no
      state: latest
    vars:
      packages:
      - sysbench
      - sysbench-tpcc
    when: ansible_os_family == "Debian" and (ansible_distribution_release != "bullseye" and ansible_distribution_release != "jammy")

  - name: install sysbench new rpm packages
    yum:
      name: "{{ packages }}"
      state: latest
    vars:
      packages:
      - sysbench
      - sysbench-tpcc
    when: ansible_os_family == "RedHat" and ansible_distribution_major_version != "9"
