- name: Debug selected Valkey version
  debug:
    var: valkey_to_test

- name: Set password for valkey
  set_fact:
    valkey_password: "UfY9s73Gx~!?@#$%^&*(){}[]<>|/:;,.-_+="

- name: Install Valkey on Debian based Systems
  shell: "{{item}}"
  with_items:
    - percona-release enable valkey release
    - apt update
    - apt install -y valkey
    - valkey-cli ping
    - valkey-cli CONFIG SET requirepass '{{ valkey_password }}'
  become: yes
  when: ansible_os_family == "Debian"

#https://github.com/valkey-io/valkey/archive/refs/tags/9.0.0.tar.gz
#- name: Install Valkey on Debian based Systems
#  shell: "{{item}}"
#  with_items:
#    - sudo dnf install valkey
#  become: yes
#  when: ansible_os_family == "RedHat"
#
#- name: Add valkey instance for monitoring
#  when: ansible_os_family == "RedHat"
#  command: >-
#    pmm-admin add valkey
#    --password={{ mysql_password }} --service-name={{ mysql_service_name }} --query-source=perfschema
#    {{ '' if agent_password is not defined or '/agent_id/' in agent_password else '--agent-password=%s' | format(agent_password) }}