- name: Debug selected Valkey version
  debug:
    var: valkey_to_test

- name: Set password for valkey
  set_fact:
    valkey_password: "UfY9s73Gx~!?@#$%^&*(){}[]<>|/:;,.-_+="

- name: Enable Valkey repository
  shell: percona-release enable valkey release

- name: Install Valkey on Debian based Systems
  shell: "{{item}}"
  with_items:
    - apt update
    - apt install -y valkey
  become: yes
  when: ansible_os_family == "Debian"

- name: Install Valkey on Debian based Systems
  shell: dnf install valkey
  become: yes
  when: ansible_os_family == "RedHat"

- name: Set password for valkey
  shell: valkey-cli CONFIG SET requirepass '{{ valkey_password }}'
  become: yes

- name: Add valkey instance for monitoring
  command: >-
    pmm-admin add valkey --username=default --password="{{ valkey_password }}" --service-name={{ valkey_service_name }}
    {{ '' if agent_password is not defined or '/agent_id/' in agent_password else '--agent-password=%s' | format(agent_password) }}
