# This task installs Percona Server 8.0 on CentOS and Debian/Ubuntu
#

  - name: install Percona Server deb packages
    apt:
      name: "{{ packages }}"
      update_cache: yes
      state: latest
    vars:
      packages:
      - percona-server-server{{ pro_suf | default('') }}
      - percona-server-test{{ pro_suf | default('') }}
      - percona-server{{ pro_suf | default('') }}-dbg
      - percona-server{{ pro_suf | default('') }}-source
      - percona-server-client{{ pro_suf | default('') }}
      - percona-server-rocksdb{{ pro_suf | default('') }}
      - percona-mysql-router{{ pro_suf | default('') }}
    when: ansible_os_family == "Debian"
    environment:
      PERCONA_TELEMETRY_URL: "https://check-dev.percona.com/v1/telemetry/GenericReport"

  - name: get list of enabled dnf modules on centos 8
    command: dnf module list --enabled
    register: enabled_dnf_modules
    when: ansible_os_family == "RedHat" and ansible_distribution_major_version >= "8"

  - name: list enabled dnf modules on centos 8
    debug:
      var: enabled_dnf_modules
    when: ansible_os_family == "RedHat" and ansible_distribution_major_version >= "8"

  - name: disable the mysql module on RHEL/CentOS 8 using DNF
    dnf:
      name: '@mysql'
      state: absent
    when: ansible_os_family == "RedHat" and ansible_distribution_major_version == "8"

  - name: disable the mariadb RHEL/CentOS 8
    dnf:
      name: '@mariadb'
      state: absent
    when: ansible_os_family == "RedHat" and ansible_distribution_major_version == "8"

  - name: Install libgflags-dev for rhel9 aarm64 using DNF
    dnf:
      name: https://dl.fedoraproject.org/pub/epel/9/Everything/aarch64/Packages/g/gflags-2.2.2-9.el9.aarch64.rpm
      state: present
      disable_gpg_check: yes
    when: 
      - ansible_os_family == "RedHat" 
      - (ansible_distribution_major_version|int >= 9) or (ansible_distribution == "Amazon" and ansible_distribution_major_version == "2023")
      - ansible_architecture == "aarch64"

  - name: Install libgflags-dev for rhel9 using DNF
    dnf:
      name: https://dl.fedoraproject.org/pub/epel/9/Everything/x86_64/Packages/g/gflags-2.2.2-9.el9.x86_64.rpm
      state: present
      disable_gpg_check: yes
    when: 
      - ansible_os_family == "RedHat" 
      - (ansible_distribution_major_version|int >= 9) or (ansible_distribution == "Amazon")
      - ansible_architecture != "aarch64"
  
  - name: install Percona Server rpm packages Amazon using DNF
    dnf:
      name: "{{ packages }}"
      state: latest
      disablerepo: "epel"
      update_cache: yes
    vars:
      packages:
      - percona-server-server{{ pro_suf | default('') }}
      - percona-mysql-router{{ pro_suf | default('') }}
      - percona-server-client{{ pro_suf | default('') }}
      - percona-server-test{{ pro_suf | default('') }}
      - percona-server{{ pro_suf | default('') }}-debuginfo
      - percona-server-devel{{ pro_suf | default('') }}
      - percona-server-rocksdb{{ pro_suf | default('') }}
    when:
        - ansible_distribution == "Amazon" and ansible_distribution_major_version == "2023"
    environment:
      PERCONA_TELEMETRY_URL: "https://check-dev.percona.com/v1/telemetry/GenericReport"

  - name: install Percona Server rpm packages RHEL7 using YUM
    yum:
      name: "{{ packages }}"
      state: latest
      disablerepo: "epel"
      update_cache: yes
    vars:
      packages:
      - percona-server-server{{ pro_suf | default('') }}
      - percona-mysql-router{{ pro_suf | default('') }}
      - percona-server-client{{ pro_suf | default('') }}
      - percona-server-test{{ pro_suf | default('') }}
      - percona-server{{ pro_suf | default('') }}-debuginfo
      - percona-server-devel{{ pro_suf | default('') }}
      - percona-server-rocksdb{{ pro_suf | default('') }}
    when: 
      - ansible_facts['distribution'] in ["RedHat", "CentOS", "OracleLinux", "Amazon"]
      - ansible_facts['distribution_major_version'] | int <= 7
    environment:
      PERCONA_TELEMETRY_URL: "https://check-dev.percona.com/v1/telemetry/GenericReport"
      
  - name: install Percona Server rpm packages RHEL8+ using DNF
    dnf:
      name: "{{ packages }}"
      state: latest
      disablerepo: "epel"
      update_cache: yes
    vars:
      packages:
      - percona-server-server{{ pro_suf | default('') }}
      - percona-mysql-router{{ pro_suf | default('') }}
      - percona-server-client{{ pro_suf | default('') }}
      - percona-server-test{{ pro_suf | default('') }}
      - percona-server{{ pro_suf | default('') }}-debuginfo
      - percona-server-devel{{ pro_suf | default('') }}
      - percona-server-rocksdb{{ pro_suf | default('') }}
    when:
      - ansible_facts['distribution'] in ["RedHat", "CentOS", "OracleLinux", "Amazon"]
      - ansible_facts['distribution_major_version'] | int >= 8
    environment:
      PERCONA_TELEMETRY_URL: "https://check-dev.percona.com/v1/telemetry/GenericReport"

