# This task installs Percona Server 5.7 on CentOS and Debian/Ubuntu
#
  - name: install Percona Server 5.7 packages
    apt:
      name: "{{ packages }}"
      update_cache: yes
      state: latest
    vars:
      packages:
      - percona-server-server-5.7
      - percona-server-test-5.7
      - percona-server-5.7-dbg
      - percona-server-source-5.7
      - percona-server-tokudb-5.7
      - percona-server-rocksdb-5.7
    when: ansible_os_family == "Debian"
    environment:
      PERCONA_TELEMETRY_URL: "https://check-dev.percona.com/v1/telemetry/GenericReport"

  - name: get list of enabled dnf modules on centos 8
    command: dnf module list --enabled
    register: enabled_dnf_modules
    when: ansible_os_family == "RedHat" and ansible_distribution_major_version >= "8"

  - name: list enabled dnf modules on centos 8
    debug:
      var: enabled_dnf_modules
    when: ansible_os_family == "RedHat" and ansible_distribution_major_version >= "8"

  - name: disable the mysql module on RHEL/CentOS 8
    command: yum module disable mysql -y
    when: ansible_os_family == "RedHat" and ansible_distribution_major_version == "8"

  - name: disable the mariadb module on RHEL/CentOS 8
    command: yum module disable mariadb -y
    when: ansible_os_family == "RedHat" and ansible_distribution_major_version == "8"

  - name: install Percona Server 5.7 rpm packages
    yum:
      name: "{{ packages }}"
    vars:
      packages:
      - Percona-Server-server-57
      - Percona-Server-test-57
      - Percona-Server-57-debuginfo
      - Percona-Server-devel-57
      - Percona-Server-tokudb-57
      - Percona-Server-rocksdb-57
      - Percona-Server-shared-57
      - Percona-Server-client-57
    when: ansible_os_family == "RedHat"
    environment:
      PERCONA_TELEMETRY_URL: "https://check-dev.percona.com/v1/telemetry/GenericReport"

  - name: install Percona-Server-shared-compat-57 rpm package
    yum:
      name: "{{ packages }}"
      state: latest
    vars:
      packages:
       - Percona-Server-shared-compat-57
    when: (ansible_distribution == "Amazon" and ansible_distribution_major_version >= "2") or (ansible_os_family == "RedHat" and ansible_distribution_major_version == "7") or (ansible_os_family == "RedHat" and ansible_distribution_major_version == "8")
