# Encapsulates "enabled_db" variable initialization

- name: Set Databases list
  set_fact:
    enabled_db: "{{ db_list|select|list }}"
  vars:
    db_list:
      - "{{ (false) | ternary('ps-8.0','') }}"
      - "{{ (ansible_os_family == 'RedHat' and ansible_distribution_major_version < '9') | ternary('ps-5.7','') }}"
      - "{{ (ansible_os_family == 'Debian') | ternary('ps-8.0','') }}"
      - "{{ (ansible_distribution == 'Debian' and ansible_distribution_major_version > '10') | ternary('psmdb-70','') }}"
      - "{{ (ansible_distribution == 'Ubuntu' and ansible_distribution_major_version <= '18') | ternary('psmdb-60','') }}"
      - "{{ (ansible_distribution == 'Ubuntu' and ansible_distribution_major_version > '18') | ternary('psmdb-70','') }}"
      - "{{ (ansible_distribution == 'Debian' and ansible_distribution_major_version <= '10') | ternary('psmdb-60','') }}"
      - "{{ (ansible_os_family == 'RedHat') | ternary('psmdb-70','') }}"
      - "{{ (ansible_os_family == 'Debian') | ternary('pg-13','') }}"
      - "{{ (ansible_os_family == 'RedHat' and ansible_distribution_major_version < '8') | ternary('pg-13','') }}"
