# This task contains common actions for the PMM Client all tests at preparation stage

- name: include tasks for test env setup
  include_tasks: ../tasks/test_prep.yml

- name: include tasks for custom package-testing branch
  include_tasks: ../tasks/setup_custom_branch.yml

- name: include tasks for enabling test repo
  include_tasks: ../tasks/enable_testing_repo.yml
  when: lookup('env', 'install_repo') == "testing" or lookup('env', 'install_repo') == ""

- name: include tasks for enabling experimental repo
  include_tasks: ../tasks/enable_experimental_repo.yml
  when: lookup('env', 'install_repo') == "experimental"

- name: include tasks for enabling main repo
  include_tasks: ../tasks/enable_main_repo.yml
  when: lookup('env', 'install_repo') == "main"

- name: include tasks for enabling tools main repo
  include_tasks: ../tasks/enable_tools_main_repo.yml
  when: lookup('env', 'install_repo') == "tools-main"

- name: include tasks for enabling experimental repo
  include_tasks: ../tasks/enable_pmm2client_main_repo.yml
  when: lookup('env', 'install_repo') == "pmm2-client-main"
