# Encapsulates "enabled_db" variable initialization

- name: Set Databases list
  set_fact:
    enabled_db: "{{ db_list|select|list }}"
  vars:
    db_list:
      - "{{ (false) | ternary('ps-8.0','') }}"
      - "{{ (ansible_distribution == 'Debian') | ternary('ps-8.0','') }}"
      - "{{ (ansible_distribution == 'Ubuntu') | ternary('ps-8.0','') }}"
      - "{{ (ansible_distribution == 'Ubuntu' and ansible_distribution_major_version <= '18') | ternary('psmdb-80','') }}"
      - "{{ (ansible_distribution == 'Ubuntu' and ansible_distribution_major_version > '18' and ansible_distribution_major_version < '24') | ternary('psmdb-80','') }}"
      - "{{ (ansible_distribution == 'Ubuntu' and ansible_distribution_major_version >= '24') | ternary('psmdb-80','') }}"
      - "{{ (ansible_os_family == 'RedHat') | ternary('psmdb-80','') }}"
      - "{{ (ansible_os_family == 'Debian') | ternary('pg-17','') }}"
      - "{{ (ansible_os_family == 'RedHat' and ansible_distribution_major_version < '8') | ternary('pg-13','') }}"
