# This task contains common actions for the PMM Client all tests at preparation stage

- name: Removing Percona Release package
  include_tasks: ./remove_percona_repository.yml

- name: Install EPEL and GPG
  include_tasks: ./install_epel.yml

- name: Allow release-info to change for apt repositories
  command: apt-get update -y --allow-releaseinfo-change
  when: ansible_os_family == "Debian" and ansible_distribution_release == "buster"

- name: Install percona-release package
  include_tasks: ./install_percona_release.yml

- name: Install needed packages for Debian/Ubuntu
  apt:
    name: "{{ packages }}"
    update_cache: yes
    state: latest
  vars:
    packages:
      - wget
      - gnupg
      - jq # for exporter endpoint metric fetch
      - acl
  retries: 60
  delay: 10
  register: result
  until: result is not failed
  when: ansible_os_family == "Debian"

- name: Install needed packages for RHEL 7
  yum:
    name: "{{ packages }}"
    state: latest
  vars:
    packages:
      - libselinux-python
      - wget
      - jq # for exporter end point metric fetch
  when: ansible_os_family == "RedHat" and ansible_distribution_major_version|int <= 7

- name: Install needed packages for RHEL 8+
  yum:
    name: "{{ packages }}"
    state: latest
  vars:
    packages:
      - unzip
      - wget
      - jq # for exporter end point metric fetch
  when: ansible_os_family == "RedHat" and ansible_distribution_major_version|int >= 8

- name: "convert {{ test_repo }} into repository name"
  set_fact:
    repo_name: "{{ (test_repo is search('main')) | ternary ('release', test_repo) }}"

- name: enable psmdb repo
  include_tasks: ./enable_repo.yml
  vars:
    only: yes
    package: "pmm2-client"
    repository: "{{ repo_name }}"
