# Encapsulates "enabled_db" variable initialization

- name: Set Databases list
  set_fact:
    enabled_db: "{{ db_list|select|list }}"
  vars:
    db_list:
      - "{{ (ansible_distribution == 'Debian') | ternary('psmdb-80','') }}"
      - "{{ (ansible_distribution == 'Ubuntu') | ternary('psmdb-80','') }}"
      - "{{ (ansible_os_family == 'RedHat') | ternary('psmdb-80','') }}"
