# This task install Percona XtraBackup 8.0 on CentOS and Debian/Ubuntu
#
  - name: install Percona XtraBackup new deb packages
    apt:
      name: "{{ packages }}"
      update_cache: yes
      state: absent
    vars:
      packages:
      - percona-xtrabackup-80
      - percona-xtrabackup-test-80
      - percona-xtrabackup-dbg-80
    when: ansible_os_family == "Debian"

  - name: install Percona XtraBackup new rpm packages
    yum:
      name: "{{ packages }}"
      state: absent
    vars:
      packages:
      - percona-xtrabackup-80
      - percona-xtrabackup-test-80
      - percona-xtrabackup-80-debuginfo
    when: ansible_os_family == "RedHat"
