  - name: Install pgaudit Debian
    apt:
      name: "{{ packages }}"
      update_cache: yes
    vars:
      packages:
        - percona-postgresql-11-pgaudit
        - percona-postgresql-11-pgaudit-dbgsym
    when: ansible_os_family == "Debian"

  - name: Install pgaudit RHEL
    yum:
      name: percona-pgaudit
    when: ansible_os_family == "RedHat"

  - name: Enable pgaudit for Debian
    lineinfile:
      path: /etc/postgresql/11/main/postgresql.conf
      line: shared_preload_libraries = 'pgaudit'
    when: ansible_os_family == "Debian"

  - name: Enable pgaudit for RHEL
    lineinfile:
      path: /var/lib/pgsql/11/data/postgresql.conf
      line: shared_preload_libraries = 'pgaudit'
    when: ansible_os_family == "RedHat"

  - name: Restart Postgres RHEL
    service:
      name: postgresql-11
      state: restarted
    when: ansible_os_family == "RedHat"

  - name: Retart Postgres Debian
    command: sudo systemctl restart postgresql
    environment:
      PATH: /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
    when: ansible_os_family == "Debian"

  - name: Install pgbackrest Debian
    apt:
      name: "{{ packages }}"
      update_cache: yes
    vars:
      packages:
        - percona-pgbackrest
        - percona-pgbackrest-doc
        - percona-pgbackrest-dbgsym
    when: ansible_os_family == "Debian"

  - name: Install pgbackrest RHEL
    yum:
      name: percona-pgbackrest
    when: ansible_os_family == "RedHat"

  - name: Create pgbackrest directory
    file:
      path: /etc/pgbackrest/
      state: directory


  - name: Create pgbackrest configuration Debian
    blockinfile:
      path: /etc/pgbackrest/pgbackrest.conf
      create: yes
      block: |
        [global]
        repo1-path=/var/lib/pgbackrest

        [testing]
        pg1-path=/var/lib/postgresql/11/main
        pg1-port=5432
    when: ansible_os_family == "Debian"

  - name: Create pgbackrest configuration RHEL
    blockinfile:
      path: /etc/pgbackrest/pgbackrest.conf
      create: yes
      block: |
        [global]
        repo1-path=/var/lib/pgbackrest

        [testing]
        pg1-path=/var/lib/pgsql/11/data
        pg1-port=5432
    when: ansible_os_family == "RedHat"


  - name: Configure backup config for Debian
    blockinfile:
      path: /etc/postgresql/11/main/postgresql.conf
      block: |
        archive_mode = on
        archive_command = 'pgbackrest --stanza=testing archive-push %p'
        max_wal_senders = 3
        wal_level = replica
    when: ansible_os_family == "Debian"

  - name: Configure backup config for RHEL
    blockinfile:
      path: /var/lib/pgsql/11/data/postgresql.conf
      block: |
        archive_mode = on
        archive_command = 'pgbackrest --stanza=testing archive-push %p'
        max_wal_senders = 3
        wal_level = replica
    when: ansible_os_family == "RedHat"

  - name: Restart Postgres RHEL
    service:
      name: postgresql-11
      state: restarted
    when: ansible_os_family == "RedHat"

  - name: Retart Postgres Debian
    command: sudo systemctl restart postgresql
    environment:
      PATH: /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
    when: ansible_os_family == "Debian"

  - name: Install pgrepack Debian
    apt:
      name: "{{ packages }}"
    vars:
      packages:
        - percona-postgresql-11-repack
        - percona-postgresql-11-repack-dbgsym
    when: ansible_os_family == "Debian"

  - name: Install pgrepack RHEL
    yum:
      name: percona-pg_repack11
    when: ansible_os_family == "RedHat"

  - name: Install patroni
    yum:
      name: percona-patroni
