---
- name: Converge
  hosts: all
  become: true
  become_method: sudo
  environment:
    PERCONA_TELEMETRY_URL: "https://check-dev.percona.com/v1/telemetry/GenericReport"
  roles:
    - role: ps80-binary-tarball-pro
