---
# tasks file for Percona Release tool testing

- name: Install percona repository package for debian
  apt:
   deb: https://repo.percona.com/apt/pool/testing/p/percona-release/percona-release_1.0-20.generic_all.deb
  when: ansible_os_family == "Debian"

- name: Install percona repository package for rpm
  yum: name=https://repo.percona.com/yum/testing/latest/RPMS/noarch/percona-release-1.0-20.noarch.rpm state=present
  when: ansible_os_family == "RedHat"

- name: clean and update yum cache
  shell: |
    yum clean all
    yum makecache
  when: ansible_os_family == "RedHat"

- name: include playbook for removing Percona repo
  include: ../../../../tasks/remove_percona_repository.yml
