[ps-57-eol] 
baseurl=http://repo.percona.com/private/{{ client_id }}-{{ client_token }}/ps-57-eol/yum/{{ repo }}/$releasever/RPMS/x86_64
enabled=1
gpgkey = https://repo.percona.com/yum/PERCONA-PACKAGING-KEY
