storage:
  dbPath: /var/lib/mongo
  journal:
    enabled: true
  wiredTiger:
    engineConfig:
      cacheSizeGB: 1

systemLog:
  destination: syslog

net:
  port: 27017
  bindIp: 0.0.0.0
  tls:
    mode: allowTLS
    CAFile: /mongodb_certs/ca-certs.pem
    certificateKeyFile: /mongodb_certs/psmdb-server.pem

security:
  authorization: enabled
  ldap:
    validateLDAPServerConfig: false
    transportSecurity: none
    servers: 127.0.0.1:1389
    userToDNMapping: '[{"match": "^(.+)@PERCONATEST.COM$","substitution": "cn={0},ou=users,dc=perconatest,dc=com"}]'
    authz:
      queryTemplate: "{USER}?memberOf?base"

setParameter:
  authenticationMechanisms: SCRAM-SHA-1,PLAIN,MONGODB-X509,MONGODB-AWS,GSSAPI

operationProfiling:
  mode: slowOp
  slowOpThresholdMs: 100  # More reasonable threshold