[pxb-80-pro] 
name=PXB_8.0_PRO
baseurl=http://repo.percona.com/private/{{ client_id }}-{{ client_token }}/pxb-80-pro/yum/{{ repo }}/{{releasever}}/RPMS/x86_64
enabled=1
gpgkey = https://repo.percona.com/yum/PERCONA-PACKAGING-KEY
