  - name: Install percona repository package
    apt:
     deb: https://repo.percona.com/apt/pool/testing/p/percona-release/percona-release_1.0-19.generic_all.deb
    when: ansible_os_family == "Debian"

  - name: add the main Percona yum repos for centos 6 and 7
    yum: name=https://repo.percona.com/yum/testing/latest/RPMS/noarch/percona-release-1.0-19.noarch.rpm
    when: ansible_os_family == "RedHat"

## Delete this task for release testing
  - name: download newer percona-release script
    get_url:
      url: https://raw.githubusercontent.com/percona/percona-repositories/1.0/scripts/percona-release.sh
      dest: /usr/bin/percona-release
      mode: '755'
      force: true
#######################################################
  - name: clean and update yum cache
    shell: |
      yum clean all
      yum makecache
    when: ansible_os_family == "RedHat"
