  - name: Install percona release package Debian
    apt:
     deb: https://repo.percona.com/apt/pool/testing/p/percona-release/percona-release_1.0-26.generic_all.deb
    when: ansible_os_family == "Debian"

  - name: Install percona release RHEL
    yum: name=https://repo.percona.com/yum/testing/latest/RPMS/noarch/percona-release-1.0-26.noarch.rpm
    when: ansible_os_family == "RedHat"


  - name: clean and update yum cache
    shell: |
      yum clean all
      yum makecache
    when: ansible_os_family == "RedHat"
