{ "path": "/package-testing/kmip/keyring_kmip", "server_addr": "0.0.0.0", "server_port": "5696", "client_ca": "/package-testing/kmip/client_certificate_john_smith.pem", "client_key": "/package-testing/kmip/client_key_john_smith.pem", "server_ca": "/package-testing/kmip/server_certificate.pem" }
