{
  "server_addr": "127.0.0.1",
  "server_port": "5696",
  "client_ca": "/tmp/certs/client_certificate_jane_doe.pem",
  "client_key": "/tmp/certs/client_key_jane_doe.pem",
  "server_ca": "/tmp/certs/root_certificate.pem"
}
