{
  "server_addr": "127.0.0.1",
  "server_port": "5696",
  "client_ca": "/package-testing/kmip/client_certificate_john_smith.pem",
  "client_key": "/package-testing/kmip/client_key_john_smith.pem",
  "server_ca": "/package-testing/kmip/root_certificate.pem"
}
