global
        log 127.0.0.1   local0
        log 127.0.0.1   local1 notice
        maxconn 4096
        uid 99
        gid 99

defaults
        log     global
        mode    http
        option  tcplog
        option  dontlognull
        retries 3
        redispatch
        maxconn 2000
        timeout connect      5000
        timeout client      50000
        timeout server      50000

listen mysql-cluster
    bind 9200
    mode tcp
    balance roundrobin
    option  httpchk
    server db01 localhost:3306 check port 9200 inter 12000 rise 3 fall 3