---
# This playbook does following:
#   enables Percona main repository
#   installs previous version of PMM client
#   enables Percona testing repository
#   upgrades PMM client
#   does some tests of custom port listening
#
- hosts: all
  become: true
  become_method: sudo
  vars:
    pmm_server_address: "{{ lookup('env', 'PMM_SERVER_IP') }}"
    pmm_server_password: "{{ lookup('env', 'ADMIN_PASSWORD') | default('admin', true) }}"
    test_repo: "{{ lookup('env', 'install_repo') }}"
    metrics_mode: "{{ lookup('env', 'METRICS_MODE') | default('auto', true) }}"
    pmm_version: "{{ lookup('env', 'PMM_VERSION') }}"
    custom_port: 17788
    port_flag: "--pmm-agent-listen-port={{ custom_port }}"
    cmd_admin_list: "pmm-admin list {{ port_flag }}"

  tasks:
  - name: Register Instance IP
    shell: echo $(ip route get 8.8.8.8 | awk -F"src " 'NR==1{split($2,a," ");print a[1]}')
    register: instance_ip

  - name: Register Instance IP as a variable
    set_fact:
      instance_ip: "{{ instance_ip.stdout }}"

  - set_fact:
      rnd: "{{ 1000 | random }}"
    run_once: yes

  - name: include tasks for test env setup
    include_tasks: ../tasks/test_prep.yml

  - name: include tasks for enabling main repo
    include_tasks: ../tasks/enable_main_repo.yml

### enable pmm2-client release and install old version to update
  - name: enable pmm2-client release repo
    when: test_repo == "main"
    command: percona-release enable pmm2-client release

  - name: update apt repositories
    when: test_repo == "main" and ansible_os_family == "Debian"
    command: apt-get update -y

  - name: update repo for redhat
    when: test_repo == "main" and ansible_os_family == "RedHat"
    shell: yum update -y
    become: true

  - name: detect and save release minor version
    when: test_repo == "main"
    shell: "wget -q https://registry.hub.docker.com/v2/repositories/percona/pmm-client/tags -O - | jq -r .results[].name  | grep -v latest | sort -V | tail -n1 | awk -F. '{print $2}'"
    register: pmm_release_minor_version

  - name: grep previous release PMM Client version from yum list
    when: test_repo == "main" and ansible_os_family == "RedHat"
    shell: "yum list pmm2-client --showduplicates | grep 2.{{ pmm_release_minor_version.stdout | int -1 | tail -n1}}"
    register: pmm_old_version

  - name: grep previous release PMM Client version from apt list
    when: test_repo == "main" and ansible_os_family == "Debian"
    shell: "apt-cache madison pmm2-client | grep 2.{{ pmm_release_minor_version.stdout | int -1 }} | awk '{print $3}'"
    register: pmm_old_version

  - name: set PMM Client package name with old version to install
    when: test_repo == "main"
    set_fact:
      pmm_client_old: "pmm2-client={{ pmm_old_version.stdout }}"

  - name: set PMM Client package name to install
    when: test_repo != "main"
    set_fact:
      pmm_client_old: "pmm2-client"

  - name: print old version
    ansible.builtin.debug:
      msg: "Installing old version: '{{ pmm_client_old }}'"

  - name: install PMM client old deb packages
    when: ansible_os_family == "Debian"
    apt: name={{ pmm_client_old }} update_cache=yes state=present

  - name: install PMM client old rpm packages
    when: ansible_os_family == "RedHat"
    yum: name={{ pmm_client_old }} state=present

### Setup PMM Client
  - name: define "--metrics-mode=push|pull|auto" argument
    set_fact:
      metrics_mode_arg: "--metrics-mode={{ metrics_mode }}"

  - name: Use pmm-agent setup to configure pmm client to connect to server
    shell: pmm-agent setup --config-file=/usr/local/percona/pmm2/config/pmm-agent.yaml --force --server-address={{ pmm_server_address }} --server-insecure-tls --listen-port={{ custom_port }} {{ metrics_mode_arg }} --server-username=admin --server-password={{ pmm_server_password }} {{ instance_ip }} generic node2_{{ instance_ip }}

  - name: Check if the configuration generated with pmm-agent-listen-port is using the custom port
    shell: "cat /usr/local/percona/pmm2/config/pmm-agent.yaml | grep -o -c '{{ custom_port }}' | grep '1'"
    become: yes

  - name: kill pmm-agent process
    command: "pkill -f pmm-agent"
    become: yes

  - name: wait for pmm_agent status from pmm-admin list
    shell: "{{ cmd_admin_list }} | grep pmm_agent | awk -F' ' '{print $2}'"
    register: pmm_agent_status
    until: pmm_agent_status.stdout.find('Connected') != -1
    delay: 1
    retries: 5

  - name: verify pmm-admin list contains pmm_agent with Connected status
    assert:
      that:
        - "'Connected' in pmm_agent_status.stdout"
      fail_msg: "pmm-agent is not connected to server!"
      success_msg: "pmm-agent is connected to server"

### start PS5.7
  - name: install Percona Server 5.7 packages
    include_tasks: ../tasks/install_ps57.yml

  - name: start mysql service
    service: name=mysql state=started

  - name: start mysql service with service command
    command: service mysql start
    when: ansible_os_family == "RedHat" and ansible_distribution_major_version == "6"

  - name: start mysql service with systemctl command
    command: systemctl start mysql
    when: ansible_os_family == "RedHat" and ansible_distribution_major_version >= "7"

  - name: set root password on centos
    command: /package-testing/setpass_57.sh
    when: ansible_os_family == "RedHat"

  - name: copy .my.cnf with credentials on centos
    template: src=../templates/my_57.j2
              dest=/root/.my.cnf
              mode=0640 owner=root group=root
    when: ansible_os_family == "RedHat"

  - name: add mysql metrics and queries to monitoring
    command: /package-testing/scripts/pmm2_add_instance.sh mysql {{ port_flag }}
    when: ansible_os_family == "RedHat"

  - name: add mysql instance for monitoring
    command: pmm-admin add mysql {{ port_flag }} --query-source=perfschema --socket=/var/run/mysqld/mysqld.sock --service-name=mysql_{{ instance_ip }}
    when: ansible_os_family != "RedHat"

  - name: check if mysql monitoring running
    command: "{{ cmd_admin_list }}"
    register: list_output

  - name: Assert if the pmm-admin list contains mysql
    assert:
      that:
        - "'MySQL' in list_output.stdout"
## end PS

### start PSMDB4.4
  - name: include tasks for enabling main repo
    include_tasks: ../tasks/enable_psmdb_repo.yml
    vars:
      psmdb_repo: "psmdb-44"

  - name: install PSMDB packages
    include_tasks: ../tasks/install_psmdb.yml

  - name: start mongod with service
    command: service mongod start
    when: ansible_os_family == "RedHat" and ansible_distribution_major_version == "6"

  - name: start mongod with systemctl
    command: systemctl start mongod
    when: ansible_os_family == "RedHat" and ansible_distribution_major_version|int > 6

  - name: add mongodb metrics to monitoring
    command: pmm-admin add mongodb {{ port_flag }} --service-name=mongodb_{{ instance_ip }}

  - name: check if mongodb monitoring is running
    command: "{{ cmd_admin_list }}"
    register: list_output

  - name: Assert if the pmm-admin list contains mongodb instance
    assert:
      that:
        - "'MongoDB' in list_output.stdout"
### end PSMDB

### start pgsql13

  - name: Enable postgresql repository
    command: percona-release setup -y ppg-13
    when: ansible_distribution_release != 'xenial'

  - name: include tasks for setting up pg13
    include_tasks: ../ppg-testing/tasks/install_ppg13.yml
    when: ansible_distribution_release != 'xenial'

  - name: Initialize Postgres RHEL
    command: /usr/pgsql-13/bin/postgresql-13-setup initdb
    environment:
      PATH: /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
    when: ansible_os_family == "RedHat"

  - name: Start Postgres RHEL
    service:
      name: postgresql-13
      state: started
      enabled: true
    when: ansible_os_family == "RedHat"

  - name: Start postgresql service for Debian based
    service:
      name: postgresql
      state: started
      enabled: true
    when: ansible_os_family == "Debian" and ansible_distribution_release != 'xenial'

  - name: create lowercase 8 character password for pgsql
    set_fact:
      random_pgsql_password: "psql-{{ lookup('password', '/tmp/pgsqlpassword chars=ascii_lowercase,digits length=8') }}"

  - name: Change Postgresql Password
    command: psql -c "ALTER USER postgres PASSWORD '{{ random_pgsql_password }}';"
    become: yes
    become_user: postgres
    when: ansible_distribution_release != 'xenial'

  - name: add postgresql metrics to monitoring
    command: pmm-admin add postgresql {{ port_flag }} --password={{ random_pgsql_password }} --service-name=pgsql_{{ instance_ip }}
    when: ansible_distribution_release != 'xenial'

  - name: check if postgresql monitoring is running
    command: "{{ cmd_admin_list }}"
    register: list_output
    when: ansible_distribution_release != 'xenial'

  - name: Print the pmm-admin list value
    ansible.builtin.debug:
      msg: System {{ list_output.stdout }}
    when: ansible_distribution_release != 'xenial'

  - name: Assert if the pmm-admin list contains postgreSQL instance
    assert:
      that:
        - "'PostgreSQL' in list_output.stdout"
    when: ansible_distribution_release != 'xenial'

## end PG

  - name: include tasks for enabling testing repo
    when: lookup('env', 'install_repo') == "testing" or lookup('env', 'install_repo') == ""
    include: ../tasks/enable_testing_repo.yml

  - name: include tasks for enabling experimental repo
    when: lookup('env', 'install_repo') == "experimental"
    include_tasks: ../tasks/enable_experimental_repo.yml

  - name: enable pmm2-client release repo
    command: percona-release enable pmm2-client release
    when: test_repo == "main"

  - name: update apt repositories
    when: test_repo == "main" and ansible_os_family == "Debian"
    command: apt-get update -y

  - name: update repo for redhat
    when: test_repo == "main" and ansible_os_family == "RedHat"
    shell: yum update -y
    become: true

  - name: upgrade PMM client to the latest deb packages
    when: ansible_os_family == "Debian"
    apt: name={{item}} update_cache=yes state=latest
    with_items:
    - pmm2-client

  - name: upgrade PMM client to the latest rpm packages
    when: ansible_os_family == "RedHat"
    yum: name={{item}} state=latest
    with_items:
    - pmm2-client

### Checks after upgrade
  - name: check that PMM client version is correct
    include_tasks: ../tasks/verify_pmm_client_version.yml

  - name: Check if the configuration generated with pmm-agent-listen-port is using the custom port
    shell: "cat /usr/local/percona/pmm2/config/pmm-agent.yaml | grep -o -c '{{ custom_port }}' | grep '1'"
    become: yes

  - name: check that PMM client version is correct
    include_tasks: ../tasks/verify_pmm_status_versions.yml

  - name: get pmm-admin list for checks
    command: "{{ cmd_admin_list }}"
    register: list_output

  - name: Assert if the pmm-admin list contains mongodb instance
    assert:
      that:
        - "'MongoDB' in list_output.stdout"

  - name: Assert if the pmm-admin list contains mysql
    assert:
      that:
        - "'MySQL' in list_output.stdout"

  - name: Assert if the pmm-admin list contains postgreSQL instance
    when: ansible_distribution == 'Ubuntu' and ansible_distribution_release != 'xenial'
    assert:
      that:
        - "'PostgreSQL' in list_output.stdout"

  - name: grep pmm_agent status from pmm-admin list
    shell: "{{ cmd_admin_list }} | grep pmm_agent | awk -F' ' '{print $2}'"
    register: pmm_agent_status

  - name: verify pmm-admin list contains pmm_agent with Connected status
    assert:
      that:
        - "'Connected' in pmm_agent_status.stdout"
      fail_msg: "pmm-agent is not connected to server!"
      success_msg: "pmm-agent is connected to server"

  - name: Wait for node_exporter to be Running Status After Upgrade
    shell: "{{ cmd_admin_list }} | grep node_exporter | awk -F' ' '{print $2}'"
    register: ne_status
    until: ne_status.stdout.find('Running') != -1
    delay: 5
    retries: 5

  - name: check if node_exporter is Running
    shell: "{{ cmd_admin_list }} | grep node_exporter | awk -F' ' '{print $2}'"
    register: node_exporter_status

  - name: Print the node_exporter_status
    ansible.builtin.debug:
      msg: Node Exporter Status is {{ node_exporter_status.stdout }}

  - name: Assert if the pmm-admin list contains node_exporter and Running state
    assert:
     that:
      - "'Running' in node_exporter_status.stdout"

  - name: Wait for vmagent to be Running Status After Upgrade
    shell: "{{ cmd_admin_list }} | grep vmagent | awk -F' ' '{print $2}'"
    register: vm_status
    until: vm_status.stdout.find('Running') != -1
    delay: 5
    retries: 5

  - name: check if vmagent is Running
    shell: "{{ cmd_admin_list }} | grep vmagent | awk -F' ' '{print $2}'"
    register: vmagent_status

  - name: Print the vmagent Status
    ansible.builtin.debug:
      msg: vmagent status is {{ vmagent_status.stdout }}

  - name: Assert if the pmm-admin list contains vmagent and Running State
    assert:
     that:
      - "'Running' in vmagent_status.stdout"
