---
# This playbook does following:
#   sets main Percona repo
#   installs PS 8.0, PT and PXB 8.0
#   changes repo to testing
#   upgrades packages to the new version
#   does some tests

# Cosmic is still missing python
# import_playbook: test_prep.yml

- hosts: all
  become: true
  become_method: sudo
  vars:
    install_mysql_shell: "{{ lookup('env', 'install_mysql_shell', default='') }}"
  environment:
    install_mysql_shell: '{{ install_mysql_shell }}'
    PERCONA_TELEMETRY_URL: "https://check-dev.percona.com/v1/telemetry/GenericReport"

  tasks:
  - name: include tasks for test env setup
    include: ../tasks/test_prep.yml

  - name: include tasks for local vault setup
    include_tasks: ../tasks/setup_local_vault.yml

  - name: setup config file for keyring vault
    template: src=../scripts/ps_keyring_plugins_test/keyring_vault_test_v2.j2
              dest=/package-testing/scripts/ps_keyring_plugins_test/keyring_vault_test.cnf
              mode=0664 owner=root group=root

# Install from main repository

  - name: include tasks for enabling main repo
    include: ../tasks/enable_main_repo.yml

  - name: include tasks for enabling PS 8 main repo
    include: ../tasks/enable_ps8_main_repo.yml

  - name: download and extract world database
    command: "{{ item }}"
    with_items:
    - wget --no-check-certificate -P /package-testing https://raw.githubusercontent.com/Percona-QA/percona-qa/master/sample_db/world.sql

  - name: install Percona Server 8.0 packages
    include_tasks:
      file: ../tasks/install_ps80.yml
      apply:
        environment:
          PERCONA_TELEMETRY_DISABLE: "1"

# Disable Percona Toolkit installation till its supported in OL9 and Jammy
#  - name: install Percona Toolkit new deb packages
#    include_tasks: ../tasks/install_pt.yml

# Commenting sysbench installation because of jammy
    #  - name: install sysbench new deb packages
    #    include_tasks: ../tasks/install_sysbench.yml
    #    when: lookup('env', 'install_repo') != "experimental"

  - name: install Percona XtraBackup 8.0 packages
    include_tasks: ../tasks/install_pxb80.yml
    when: lookup('env', 'install_repo') != "experimental"

  - name: list installed packages
    include_tasks: ../tasks/list_installed_packages.yml

  - name: start mysql service with service command
    command: service mysql start
    when: ansible_os_family == "RedHat" and ansible_distribution_major_version == "6"

  - name: start mysql service with systemctl command
    command: systemctl start mysql
    when: (ansible_distribution == "Amazon") or (ansible_os_family == "RedHat" and ansible_distribution_major_version|int >= 7)

  - name: set root password on centos
    command: /package-testing/setpass_57.sh
    when: ansible_os_family == "RedHat"

  - name: append include for RedHat
    lineinfile:
        path: /etc/my.cnf
        line: '!includedir /etc/my.cnf.d'
    when: ansible_os_family == "RedHat"

  - name: copy .my.cnf with credentials on centos
    template: src=../templates/my_57.j2
              dest=/root/.my.cnf
              mode=0640 owner=root group=root
    when: ansible_os_family == "RedHat"

  - name: disable selinux on centos7 for TokuDB to work
    shell: setenforce 0 || true
    when: ansible_os_family == "RedHat"

  - name: restart mysql service
    service: name=mysql state=restarted

  - name: re-run ps_admin to install rocksdb
    command: /usr/bin/ps-admin --enable-rocksdb

  - name: install plugins, import world database
    command: /package-testing/plugins_test_80.sh ps

  - name: install percona-mysql-shell package
    include_tasks: ../tasks/install_pshell.yml
    when: install_mysql_shell == "yes" or install_mysql_shell == ""
    
  - name: install 3rd party packages with apt
    apt:
      name: "{{ packages }}"
    vars:
      packages:
      - rsyslog-mysql
    when: ansible_os_family == "Debian"

  - name: install 3rd party packages with yum
    yum:
      name: "{{ packages }}"
    vars:
      packages:
      - rsyslog-mysql
    when: ansible_os_family == "RedHat"

  - name: start my.cnf change test
    command: /package-testing/check_mycnf_pre.sh

#
# Enable testing repository
#
  - name: include tasks for enabling PS 8 testing repo
    include: ../tasks/enable_ps8_testing_repo.yml

# Upgrade packages
#
  - name: upgrade Percona Toolkit to new deb packages
    apt:
      name: "{{ packages }}"
      update_cache: yes
      state: latest
    vars:
      packages:
      - percona-toolkit
    when: ansible_os_family == "Debian"

  - name: upgrade Percona Server to new deb packages
    apt:
      name: "{{ packages }}"
      update_cache: no
      state: latest
    vars:
      packages:
      - percona-server-server
      - percona-server-test
      - percona-server-client
      - percona-server-dbg
      - percona-server-source
      - percona-server-rocksdb
    when: ansible_os_family == "Debian"
    environment:
      PERCONA_TELEMETRY_DISABLE: "1"

  - name: upgrade Percona XtraBackup to new deb packages
    apt:
      name: "{{ packages }}"
      update_cache: no
      state: latest
    vars:
      packages:
      - percona-xtrabackup-80
      - percona-xtrabackup-test-80
      - percona-xtrabackup-dbg-80
    when: ansible_os_family == "Debian"

  - name: upgrade Percona Toolkit to new rpm packages
    yum:
      name: "{{ packages }}"
      state: latest
    vars:
      packages:
      - percona-toolkit
    when: ansible_os_family == "RedHat"

  - name: upgrade Percona release to new rpm packages
    yum:
      name: "{{ packages }}"
      state: latest
    vars:
      packages:
      - percona-release
    when: ansible_os_family == "RedHat"

  - name: upgrade Percona Server to new rpm packages on CentOS
    yum:
      name: "{{ packages }}"
      state: latest
    vars:
      packages:
      - percona-server-server
      - percona-server-test
      - percona-server-debuginfo
      - percona-server-devel
      - percona-server-rocksdb
      - percona-server-shared
      - percona-server-shared-compat
      - percona-server-client
    when: ansible_os_family == "RedHat" and ansible_distribution_major_version != "9"
    environment:
      PERCONA_TELEMETRY_DISABLE: "1"

  - name: upgrade Percona Server to new rpm packages on Oracle Linux 9
    yum:
      name: "{{ packages }}"
      state: latest
    vars:
      packages:
      - percona-server-server
      - percona-server-test
      - percona-server-debuginfo
      - percona-server-devel
      - percona-server-rocksdb
      - percona-server-shared
      - percona-server-client
    when: ansible_os_family == "RedHat" and ansible_distribution_major_version == "9"
    environment:
      PERCONA_TELEMETRY_DISABLE: "1"

  - name: check telemetry (disabled)
    command: /package-testing/check_telemetry.sh ps -d

  - name: upgrade Percona XtraBackup to new rpm packages
    yum:
      name: "{{ packages }}"
      state: latest
    vars:
      packages:
      - percona-xtrabackup-80
      - percona-xtrabackup-test-80
      - percona-xtrabackup-80-debuginfo
    when: ansible_os_family == "RedHat"

  - name: install percona-mysql-shell package
    include_tasks: ../tasks/install_pshell.yml
    when: install_mysql_shell == "yes" or install_mysql_shell == ""

  - name: list installed packages
    include_tasks: ../tasks/list_installed_packages.yml

  - name: check that Percona Server version is correct
    command: /package-testing/version_check.sh ps80

  - name: check that Percona Server package versions are correct
    command: /package-testing/package_check.sh ps80

# - name: check that Percona Toolkit version is correct
#   command: /package-testing/version_check.sh pt

  - name: check the clone and data masking plugins
    command: /package-testing/scripts/ps_clone_dm_plugin_test.sh

  - name: check the data masking component
    command: /package-testing/scripts/ps_dm_component.sh

  - name: check the audit log v2 plugin
    command: /package-testing/scripts/ps_audit_log_v2.sh

  - name: finish my.cnf change test
    command: /package-testing/check_mycnf_post.sh

  - name: run some MyRocks tests
    command: /package-testing/scripts/ps_myrocks_test.sh

# - name: run bats tests for PAM
#   command: /usr/local/bin/bats /package-testing/scripts/ps_pam_test/ps_pam_test.bats

  - name: keyring plugins test
    command: /package-testing/scripts/ps_keyring_plugins_test/ps_keyring_plugins_test.sh ps80

  - name: check that Percona XtraBackup version is correct
    command: /package-testing/version_check.sh pxb80

  - name: run bats unit tests for ps-admin script
    command: /usr/local/bin/bats /package-testing/bats/ps-admin_unit.bats

  - name: run bats integration tests for ps-admin script
    command: /usr/local/bin/bats /package-testing/bats/ps-admin_integration.bats

  - name: run bats tests for mysql init scripts
    command: /usr/local/bin/bats /package-testing/bats/mysql-init-scripts.bats
    when: ansible_os_family == "RedHat" and ansible_distribution_major_version != "9"

  - name: start mysql service
    service: name=mysql state=started

  - name: remove Percona Server deb packages
    apt:
      name: "{{ packages }}"
      update_cache: no
      state: absent
    vars:
      packages:
      - percona-server*
    when: ansible_os_family == "Debian"

  - name: remove Percona Server rpm packages
    yum:
      name: "{{ packages }}"
      state: absent
    vars:
      packages:
      - percona-server*
    when: ansible_os_family == "RedHat"

  - name: remove mariadb rpm packages
    yum:
      name: "{{ packages }}"
      state: absent
    vars:
      packages:
      - mariadb*
    when: ansible_os_family == "RedHat"

  - name: remove mysql rpm packages
    yum:
      name: "{{ packages }}"
      state: absent
    vars:
      packages:
      - mysql
    when: ansible_os_family == "RedHat"  

  - name: check if process is stopped after package removal
    command: /package-testing/check_running.sh mysql stopped

  - stat:
      path: /var/lib/mysql
    register: p

  - name: check /var/lib/mysql exists and not empty
    fail:
      msg: "Path exists and is a directory and is not empty"
    when: p.stat.isdir is defined and p.stat.isdir and p.stat.size > 1000000

## Changes done for telemetry: add iptables rule for Telemetry Server - install only ps package.
## Expected resuld - telemetry_uuid file has only instanceID
  - name: Block pmm.check-dev.percona.com IP
    iptables:
      chain: OUTPUT
      destination: check-dev.percona.com
      jump: DROP

  - name: install Percona Server deb package for telemetry
    apt:
      name: "{{ packages }}"
      update_cache: no
      state: latest
    vars:
      packages:
      - percona-server-server
    when: ansible_os_family == "Debian"

  - name: install Percona Server rpm package for telemetry
    yum:
      name: "{{ packages }}"
      state: latest
    vars:
      packages:
      - percona-server-server
    when: ansible_os_family == "RedHat"

  - name: check telemetry (disabled)
    command: /package-testing/check_telemetry.sh ps -u

