---
# This playbook does following:
#   sets main Percona repo
#   installs PS 8.0, PT and PXB 8.0
#   changes repo to testing
#   upgrades packages to the new version
#   does some tests

# Cosmic is still missing python
# import_playbook: test_prep.yml

- hosts: all
  become: true
  become_method: sudo
  vars:
    install_mysql_shell: "{{ lookup('env', 'install_mysql_shell', default='') }}"
    gnupg_home: /root/.gnupg
    percona_key1: 4D1BB29D63D98E422B2113B19334A25F8507EFA5
    percona_key1_file: "{{ gnupg_home }}/PERCONA-PACKAGING-KEY"
  environment:
    install_mysql_shell: '{{ install_mysql_shell }}'
    PERCONA_TELEMETRY_URL: "https://check-dev.percona.com/v1/telemetry/GenericReport"

  tasks:
  - set_fact:
      pro_suf: "{{ '-pro' if ('yes' in lookup('env', 'pro_test') and lookup('env', 'cur_action_to_test') != 'not_pro_to_pro') else '' }}"
      allowerasing_value: "{{ true if 'yes' in lookup('env', 'pro_test') else false }}"

  - name: Debug cur_action_to_test
    debug:
      msg: Current value of cur_action_to_test is {{ lookup('env', 'cur_action_to_test') | default('Not applicable') }}

  - name: include tasks for test env setup
    include_tasks: ../tasks/test_prep.yml

  - name: include tasks for local vault setup
    include_tasks: ../tasks/setup_local_vault.yml

  - name: setup config file for keyring vault
    template: src=../scripts/ps_keyring_plugins_test/keyring_vault_test_v2.j2
              dest=/package-testing/scripts/ps_keyring_plugins_test/keyring_vault_test.cnf
              mode=0664 owner=root group=root

###############INSTALL PS80 #########

  - name: include tasks for enabling PS 8 test repo
    include_tasks: ../tasks/enable_ps8_main_repo.yml
    when:
      - lookup('env', 'install_repo') == "main"
      - lookup('env', 'pro_test') != "yes"

  - name: include tasks for enabling PS 8 test repo
    include_tasks: ../tasks/enable_ps8_testing_repo.yml
    when:
      - lookup('env', 'install_repo') == "testing" or lookup('env', 'install_repo') == ""
      - lookup('env', 'pro_test') != "yes"

  - name: include tasks for enabling PS 8 experimental repo
    include_tasks: ../tasks/enable_ps8_experimental_repo.yml
    when:
      - lookup('env', 'install_repo') == "experimental"
      - lookup('env', 'pro_test') != "yes"

  - name: include tasks for selecting PS 8 repos for PRO update tests
    include_tasks: ../tasks/select_repo_ps80_pro_update.yml
    when:
      - lookup('env', 'pro_test') == "yes"

  - name: Enable PXB 8 Main repo
    command: percona-release enable pxb-80 release
    when: ansible_distribution != "Amazon" or ansible_distribution_major_version != "2023"

  - name: download and extract world database
    command: "{{ item }}"
    with_items:
    - wget --no-check-certificate -P /package-testing https://raw.githubusercontent.com/Percona-QA/percona-qa/master/sample_db/world.sql

  - name: install Percona Server 8.0 packages
    include_tasks:
      file: ../tasks/install_ps80.yml
      apply:
        environment:
          PERCONA_TELEMETRY_DISABLE: "1"

  - name: install Percona xtrabackup 8.0 packages
    include_tasks:
      file: ../tasks/install_pxb80.yml
      apply:
        environment:
          PERCONA_TELEMETRY_DISABLE: "1"
    when: ansible_distribution != "Amazon" or ansible_distribution_major_version != "2023"

  - name: list installed packages
    include_tasks: ../tasks/list_installed_packages.yml

  - name: start mysql service with service command
    command: service mysql start
    when: ansible_os_family == "RedHat" and ansible_distribution_major_version == "6"

  - name: start mysql service with systemctl command
    command: systemctl start mysql
    when: (ansible_distribution == "Amazon") or (ansible_os_family == "RedHat" and ansible_distribution_major_version|int >= 7)

  - name: set root password on centos
    command: /package-testing/setpass_57.sh
    when: ansible_os_family == "RedHat"

  - name: append include for RedHat
    lineinfile:
        path: /etc/my.cnf
        line: '!includedir /etc/my.cnf.d'
    when: ansible_os_family == "RedHat"

  - name: copy .my.cnf with credentials on centos
    template: src=../templates/my_57.j2
              dest=/root/.my.cnf
              mode=0640 owner=root group=root
    when: ansible_os_family == "RedHat"

  - name: disable selinux on centos7 for TokuDB to work
    shell: setenforce 0 || true
    when: ansible_os_family == "RedHat"

  - name: restart mysql service
    service: name=mysql state=restarted

  - name: re-run ps_admin to install rocksdb
    command: /usr/bin/ps-admin --enable-rocksdb

  - name: install percona-mysql-shell package
    include_tasks: ../tasks/install_pshell.yml
    when: install_mysql_shell == "yes" or install_mysql_shell == ""

  - name: install 3rd party packages with apt
    apt:
      name: "{{ packages }}"
    vars:
      packages:
      - rsyslog-mysql
    when: ansible_os_family == "Debian"

  - name: install 3rd party packages with dnf
    dnf:
      name: "{{ packages }}"
    vars:
      packages:
      - rsyslog-mysql
    when:
      - ansible_facts['distribution'] in ["RedHat", "CentOS", "OracleLinux"]
      - ansible_facts['distribution_major_version'] | int >= 8

  - name: start my.cnf change test
    command: /package-testing/check_mycnf_pre.sh

###############ENBABLE PS84 for upgrade##########################

  - name: include tasks for enabling PS 84 main repo
    include_tasks: ../tasks/enable_ps84_main_repo.yml
    when:
      - lookup('env', 'install_repo') == "main"
      - lookup('env', 'pro_test') != "yes"

  - name: include tasks for enabling PS 84 test repo
    include_tasks: ../tasks/enable_ps84_testing_repo.yml
    when:
      - lookup('env', 'install_repo') == "testing" or lookup('env', 'install_repo') == ""
      - lookup('env', 'pro_test') != "yes"

  - name: include tasks for enabling PS 84 experimental repo
    include_tasks: ../tasks/enable_ps84_experimental_repo.yml
    when:
      - lookup('env', 'install_repo') == "experimental"
      - lookup('env', 'pro_test') != "yes"

  - name: stop mysql service with systemctl command
    command: systemctl stop mysql
    when:
      - lookup('env', 'cur_action_to_test') == "not_pro_to_pro" or lookup('env', 'cur_action_to_test') == "downgrade"
      - lookup('env', 'pro_test') == "yes"

  - name: install Percona Server{{ pro_suf }} 8.4 packages
    include_tasks: ../tasks/install_ps84.yml
    vars:
      pro_suf: "{{ '-pro' if 'yes' in lookup('env', 'pro_test') else '' }}"

  - name: Enable PXB 84 repo
    command: percona-release enable-only pxb-84-lts testing

  - name: remove PXB 8.0 packages
    include_tasks: ../tasks/remove_pxb80.yml

  - name: install PXB 8.4 packages
    include_tasks: ../tasks/install_pxb84.yml

  - name: start mysql service with systemctl command
    command: systemctl start mysql
    when:
      - lookup('env', 'cur_action_to_test') == "not_pro_to_pro" or lookup('env', 'cur_action_to_test') == "downgrade"
      - lookup('env', 'pro_test') == "yes"
      - ansible_os_family == "RedHat"

  - name: install percona-mysql-shell package
    include_tasks: ../tasks/install_pshell.yml
    when: install_mysql_shell == "yes" or install_mysql_shell == ""

  - name: list installed packages
    include_tasks: ../tasks/list_installed_packages.yml

  - name: check that Percona Server {{ pro }} version is correct
    command: /package-testing/version_check.sh ps84 {{ pro }}

  - name: check that Percona Server {{ pro }} package versions are correct
    command: /package-testing/package_check.sh ps80 {{ pro }}

  - name: finish my.cnf change test
    command: /package-testing/check_mycnf_post.sh

  - name: check the clone and data masking plugins
    command: /package-testing/scripts/ps_clone_dm_plugin_test.sh

  - name: check the data masking component
    command: /package-testing/scripts/ps_dm_component.sh

  - name: check the audit log v2 plugin
    command: /package-testing/scripts/ps_audit_log_v2.sh

  - name: run some MyRocks tests
    command: /package-testing/scripts/ps_myrocks_test.sh

  - name: keyring plugins test
    command: /package-testing/scripts/ps_keyring_plugins_test/ps_keyring_plugins_test.sh ps80

  - name: check that Percona XtraBackup version is correct
    command: /package-testing/version_check.sh pxb84
    when: ansible_distribution != "Amazon" or ansible_distribution_major_version != "2023"

  - name: run bats unit tests for ps-admin script
    command: /usr/local/bin/bats /package-testing/bats/ps-admin_unit.bats

  - name: run bats integration tests for ps-admin script
    command: /usr/local/bin/bats /package-testing/bats/ps-admin_integration.bats

  - name: run bats tests for mysql init scripts
    command: /usr/local/bin/bats /package-testing/bats/mysql-init-scripts.bats
    when: ansible_os_family == "RedHat" and ansible_distribution_major_version != "9"

  - name: start mysql service
    service: name=mysql state=started

  - name: remove Percona Server{{ pro_suf }} deb packages
    apt:
      name: "{{ packages }}"
      update_cache: no
      state: absent
    vars:
      packages:
      - percona-server-server{{ pro_suf }}
    when: ansible_os_family == "Debian"

  - name: remove Percona Server{{ pro_suf }} rpm packages
    command: yum remove -y percona-server-server{{ pro_suf }}
    when: ansible_os_family == "RedHat"

  - name: check if process is stopped after package removal
    command: /package-testing/check_running.sh mysql stopped

  - stat:
      path: /var/lib/mysql
    register: p

  - name: check /var/lib/mysql exists and not empty
    fail:
      msg: "Path exists and is a directory and is not empty"
    when: p.stat.isdir is defined and p.stat.isdir and p.stat.size > 1000000

