---
# This playbook does following:
#   sets main Percona repo
#   installs PS 8.0, PT and PXB 8.0
#   changes repo to testing
#   upgrades packages to the new version
#   does some tests

- hosts: all
  become: true
  become_method: sudo

  tasks:
  - name: include tasks for test env setup
    include: ../tasks/test_prep.yml

#
# Install from testing repository
#
#  - name: include tasks for enabling PS 8 test repo
#    include: ../tasks/enable_ps8_testing_repo.yml
#    when: lookup('env', 'install_repo') == "experimental" or lookup('env', 'install_repo') == ""

  - name: include tasks for enabling main repo
    include: ../tasks/enable_main_repo.yml

  - name: include tasks for enabling PS 8 main repo
    include: ../tasks/enable_ps8_main_repo.yml

  - name: download and extract world database
    command: "{{ item }}"
    with_items:
    - wget --no-check-certificate -P /package-testing https://raw.githubusercontent.com/Percona-QA/percona-qa/master/sample_db/world.sql

  - name: install Percona Toolkit deb packages previous version
    apt:
      name: "{{ packages }}"
      update_cache: yes
      state: latest
    vars:
      packages:
      - percona-toolkit
    when: ansible_os_family == "Debian"

  - name: install Percona Server deb packages previous version
    apt:
      name: "{{ packages }}"
      update_cache: no
      state: latest
    vars:
      packages:
      - percona-server-server
      - percona-server-test
      - percona-server-client
      - percona-server-dbg
      - percona-server-source
      - percona-server-tokudb
      - percona-server-rocksdb
    when: ansible_os_family == "Debian"

  - name: install Percona XtraBackup deb packages previous version
    apt:
      name: "{{ packages }}"
      update_cache: no
      state: latest
    vars:
      packages:
      - percona-xtrabackup-80
      - percona-xtrabackup-test-80
      - percona-xtrabackup-dbg-80
    when: ansible_os_family == "Debian"

  - name: install Percona Server rpm packages previous version
    yum:
      name: "{{ packages }}"
      state: latest
    vars:
      packages:
      - percona-server-server
      - percona-server-test
      - percona-server-debuginfo
      - percona-server-devel
      - percona-server-client
      - percona-server-tokudb
      - percona-server-rocksdb
    when: ansible_os_family == "RedHat"

  - name: install Percona Toolkit rpm packages previous version
    yum:
      name: "{{ packages }}"
      state: latest
    vars:
      packages:
      - percona-toolkit
    when: ansible_os_family == "RedHat"

  - name: install Percona XtraBackup rpm packages previous version
    yum:
      name: "{{ packages }}"
      state: latest
    vars:
      packages:
      - percona-xtrabackup-80
      - percona-xtrabackup-test-80
      - percona-xtrabackup-80-debuginfo
    when: ansible_os_family == "RedHat"

  - name: start mysql service with service command
    command: service mysql start
    when: ansible_os_family == "RedHat" and ansible_distribution_major_version == "6"

  - name: start mysql service with systemctl command
    command: systemctl start mysql
    when: ansible_os_family == "RedHat" and ansible_distribution_major_version == "7"

  - name: set root password on centos
    command: /package-testing/setpass_57.sh
    when: ansible_os_family == "RedHat"

  - name: copy .my.cnf with credentials on centos
    template: src=../templates/my_57.j2
              dest=/root/.my.cnf
              mode=0640 owner=root group=root
    when: ansible_os_family == "RedHat"

  - name: disable selinux on centos7 for TokuDB to work
    command: setenforce 0
    when: ansible_os_family == "RedHat" and ansible_distribution_major_version == "7"

  - name: install tokudb and restart server
    command: /usr/bin/ps-admin --enable-tokudb 

  - name: restart mysql service
    service: name=mysql state=restarted

  - name: re-run ps_tokudb_admin to finish tokudb install
    command: /usr/bin/ps-admin --enable-tokudb

  - name: re-run ps_admin to install rocksdb
    command: /usr/bin/ps-admin --enable-rocksdb

  - name: install plugins, import world database, test tokudb
    command: /package-testing/plugins_test_80.sh ps

  - name: install 3rd party packages with apt
    apt:
      name: "{{ packages }}"
    vars:
      packages:
      - rsyslog-mysql
    when: ansible_os_family == "Debian"

  - name: install 3rd party packages with yum
    yum:
      name: "{{ packages }}"
    vars:
      packages:
      - rsyslog-mysql
    when: ansible_os_family == "RedHat"

  - name: start my.cnf change test
    command: /package-testing/check_mycnf_pre.sh

#
# Enable testing repository
#
#  - include: ../tasks/enable_ps8_experimental_repo.yml
  - name: include tasks for enabling PS 8 testing repo
    include: ../tasks/enable_ps8_testing_repo.yml

#
# Upgrade packages
#
  - name: upgrade Percona Toolkit to new deb packages
    apt:
      name: "{{ packages }}"
      update_cache: yes
      state: latest
    vars:
      packages:
      - percona-toolkit
    when: ansible_os_family == "Debian"

  - name: upgrade Percona Server to new deb packages
    apt:
      name: "{{ packages }}"
      update_cache: no
      state: latest
    vars:
      packages:
      - percona-server-server
      - percona-server-test
      - percona-server-client
      - percona-server-dbg
      - percona-server-source
      - percona-server-tokudb
      - percona-server-rocksdb
    when: ansible_os_family == "Debian"

  - name: upgrade Percona XtraBackup to new deb packages
    apt:
      name: "{{ packages }}"
      update_cache: no
      state: latest
    vars:
      packages:
      - percona-xtrabackup-80
      - percona-xtrabackup-test-80
      - percona-xtrabackup-dbg-80
    when: ansible_os_family == "Debian"

  - name: upgrade Percona Toolkit to new rpm packages
    yum:
      name: "{{ packages }}"
      state: latest 
    vars:
      packages:
      - percona-toolkit
    when: ansible_os_family == "RedHat"

  - name: upgrade Percona Server to new rpm packages on CentOS
    yum:
      name: "{{ packages }}"
      state: latest
    vars:
      packages:
      - percona-server-server
      - percona-server-test
      - percona-server-debuginfo
      - percona-server-devel
      - percona-server-tokudb
      - percona-server-rocksdb
      - percona-server-shared
      - percona-server-shared-compat
      - percona-server-client
    when: ansible_os_family == "RedHat"

  - name: upgrade Percona XtraBackup to new rpm packages
    yum:
      name: "{{ packages }}"
      state: latest
    vars:
      packages:
      - percona-xtrabackup-80
      - percona-xtrabackup-test-80
      - percona-xtrabackup-80-debuginfo
    when: ansible_os_family == "RedHat"

  - name: run mysql_upgrade
    command: mysql_upgrade -uroot

  - name: restart mysql service
    service: name=mysql state=restarted

  - name: check that Percona Server version is correct
    command: /package-testing/version_check.sh ps80

  - name: check that Percona Server package versions are correct
    command: /package-testing/package_check.sh ps80

  - name: check that Percona Toolkit version is correct
    command: /package-testing/version_check.sh pt

  - name: finish my.cnf change test
    command: /package-testing/check_mycnf_post.sh

# - name: run some MyRocks tests
#   command: /package-testing/scripts/ps_myrocks_test.sh

# - name: run bats tests for PAM
#   command: /usr/local/bin/bats /package-testing/scripts/ps_pam_test/ps_pam_test.bats

  - name: keyring plugins test
    command: /package-testing/scripts/ps_keyring_plugins_test/ps_keyring_plugins_test.sh ps80

  - name: check that Percona XtraBackup version is correct
    command: /package-testing/version_check.sh pxb80

  - name: check that Percona XtraBackup package versions are correct
    command: /package-testing/package_check.sh pxb80

# - name: run bats unit tests for ps_tokudb_admin scripts
#   command: /usr/local/bin/bats /package-testing/bats/ps_tokudb_admin_unit.bats

# - name: run bats integration tests for ps_tokudb_admin script
#   command: /usr/local/bin/bats /package-testing/bats/ps_tokudb_admin_integration.bats

  - name: run bats unit tests for ps-admin script
    command: /usr/local/bin/bats /package-testing/bats/ps-admin_unit.bats

  - name: run bats integration tests for ps-admin script
    command: /usr/local/bin/bats /package-testing/bats/ps-admin_integration.bats

  - name: run bats tests for mysql init scripts
    command: /usr/local/bin/bats /package-testing/bats/mysql-init-scripts.bats

  - name: start mysql service
    service: name=mysql state=started

# - name: uninstall PAM before final package uninstall
#   command: /usr/local/bin/bats /package-testing/scripts/ps_pam_test/ps_pam_mysql_uninstall.bats

  - name: remove Percona Server deb packages
    apt:
      name: "{{ packages }}"
      update_cache: no
      state: absent
    vars:
      packages:
      - percona-server-server
    when: ansible_os_family == "Debian"

  - name: remove Percona Server rpm packages
    yum:
      name: "{{ packages }}"
      state: absent
    vars:
      packages:
      - percona-server-server
    when: ansible_os_family == "RedHat"

  - name: check if process is stopped after package removal
    command: /package-testing/check_running.sh mysql stopped
