---
# This playbook does following:
#   sets main Percona repo
#   installs PS 8.0, PT and PXB 8.0
#   changes repo to {{ major_release_version }} testing
#   upgrades packages to the new version
#   does some tests

# Cosmic is still missing python
# import_playbook: test_prep.yml

- hosts: all
  become: true
  become_method: sudo
  vars:
    install_mysql_shell: "{{ lookup('env', 'install_mysql_shell', default='') }}"
  environment:
    install_mysql_shell: '{{ install_mysql_shell }}'
    PERCONA_TELEMETRY_URL: "https://check-dev.percona.com/v1/telemetry/GenericReport"

  tasks:
  - name: include tasks for test env setup
    include_tasks: ../tasks/test_prep.yml

  - name: include tasks for local vault setup
    include_tasks: ../tasks/setup_local_vault.yml

  - name: setup config file for keyring vault
    template: src=../scripts/ps_keyring_plugins_test/keyring_vault_component_test_v2.j2
              dest=/package-testing/scripts/ps_keyring_plugins_test/component_keyring_vault.cnf
              mode=0664 owner=root group=root

  - name: Extract version number using shell commands
    shell: cat /package-testing/VERSIONS | grep -oP 'PS_INN_LTS_VER="\K(\d+)\.(\d+)' | tr -d '.'
    register: major_release_version

  - name: Set major_release_version variable
    set_fact:
      major_release_version: "{{ major_release_version.stdout }}"

  - name: Extract values using shell command for repo name used for innovation/lts release
    shell: grep 'PS_INN_LTS_REPO=' /package-testing/VERSIONS | cut -d'=' -f2 | tr -d '"'
    register: ps_inn_lts_repo_name

  - name: Set major_release_version variable
    set_fact:
      ps_inn_lts_repo_name: "{{ ps_inn_lts_repo_name.stdout }}"

# Install from main repository

  - name: include tasks for enabling main repo
    include_tasks: ../tasks/enable_main_repo.yml

  - name: include tasks for enabling PS 8.0 main repo
    include_tasks: ../tasks/enable_ps8_main_repo.yml

  - name: download and extract world database
    command: "{{ item }}"
    with_items:
    - wget --no-check-certificate -P /package-testing https://raw.githubusercontent.com/Percona-QA/percona-qa/master/sample_db/world.sql

  - name: install Percona Server 8.0 packages
    include_tasks:
      file: ../tasks/install_ps80.yml
      apply:
        environment:
          PERCONA_TELEMETRY_DISABLE: "1"

  - name: list installed packages
    include_tasks: ../tasks/list_installed_packages.yml

  - name: start mysql service with service command
    command: service mysql start
    when: ansible_os_family == "RedHat" and ansible_distribution_major_version == "6"

  - name: start mysql service with systemctl command
    command: systemctl start mysql
    when: (ansible_distribution == "Amazon") or (ansible_os_family == "RedHat" and ansible_distribution_major_version|int >= 7)

  - name: set root password on centos
    command: /package-testing/setpass_57.sh
    when: ansible_os_family == "RedHat"

  - name: append include for RedHat
    lineinfile:
        path: /etc/my.cnf
        line: '!includedir /etc/my.cnf.d'
    when: ansible_os_family == "RedHat"

  - name: copy .my.cnf with credentials on centos
    template: src=../templates/my_57.j2
              dest=/root/.my.cnf
              mode=0640 owner=root group=root
    when: ansible_os_family == "RedHat"

  - name: disable selinux on centos7 for TokuDB to work
    shell: setenforce 0 || true
    when: ansible_os_family == "RedHat"

  - name: restart mysql service
    service: name=mysql state=restarted

  - name: re-run ps_admin to install rocksdb
    command: /usr/bin/ps-admin --enable-rocksdb

  - name: install plugins, import world database
    command: /package-testing/plugins_test_80.sh ps

  - name: install percona-mysql-shell package
    include_tasks: ../tasks/install_pshell.yml
    when: install_mysql_shell == "yes" or install_mysql_shell == ""

  - name: install 3rd party packages with apt
    apt:
      name: "{{ packages }}"
    vars:
      packages:
      - rsyslog-mysql
    when: ansible_os_family == "Debian"

  - name: install 3rd party packages with yum
    yum:
      name: "{{ packages }}"
    vars:
      packages:
      - rsyslog-mysql
    when: 
      - ansible_facts['distribution'] in ["RedHat", "CentOS", "OracleLinux", "Amazon"]
      - ansible_facts['distribution_major_version'] | int <= 7

  - name: install 3rd party packages with dnf
    dnf:
      name: "{{ packages }}"
    vars:
      packages:
      - rsyslog-mysql
    when: 
      - ansible_facts['distribution'] in ["RedHat", "CentOS", "OracleLinux", "Amazon"]
      - ansible_facts['distribution_major_version'] | int >= 8

  - name: start my.cnf change test
    command: /package-testing/check_mycnf_pre.sh

#
# Enable testing/main repository
#
  - name: include tasks for enabling PS {{ major_release_version }} testing repo
    include_tasks: ../tasks/enable_ps_innovation_repo_testing.yml
    when: lookup('env', 'install_repo') == "testing" or lookup('env', 'install_repo') == ""

  - name: include tasks for enabling PS {{ major_release_version }} testing repo
    include_tasks: ../tasks/enable_ps_innovation_repo_main.yml
    when: lookup('env', 'install_repo') == "main"

# Upgrade packages
#

  - name: upgrade Percona Server to new deb packages {{ major_release_version }}
    apt:
      name: "{{ packages }}"
      update_cache: no
      state: latest
    vars:
      packages:
      - percona-server-server
      - percona-server-test
      - percona-server-client
      - percona-server-dbg
      - percona-server-source
      - percona-server-rocksdb
    when: ansible_os_family == "Debian"
    environment:
      PERCONA_TELEMETRY_DISABLE: "1"

  - name: upgrade Percona XtraBackup to new deb packages {{ major_release_version }}
    apt:
      name: "{{ packages }}"
      update_cache: no
      state: latest
    vars:
      packages:
      - percona-xtrabackup-{{ major_release_version }}
      - percona-xtrabackup-test-{{ major_release_version }}
      - percona-xtrabackup-dbg-{{ major_release_version }}
    when: ansible_os_family == "Debian"
    environment:
      PERCONA_TELEMETRY_DISABLE: "1"

  - name: upgrade Percona Toolkit to new rpm packages yum
    yum:
      name: "{{ packages }}"
      state: latest
    vars:
      packages:
      - percona-toolkit
      - percona-release
    when: 
      - ansible_facts['distribution'] in ["RedHat", "CentOS", "OracleLinux", "Amazon"]
      - ansible_facts['distribution_major_version'] | int <= 7

  - name: upgrade Percona Toolkit to new rpm packages dnf
    dnf:
      name: "{{ packages }}"
      state: latest
    vars:
      packages:
      - percona-toolkit
      - percona-release

    when: 
      - ansible_facts['distribution'] in ["RedHat", "CentOS", "OracleLinux", "Amazon"]
      - ansible_facts['distribution_major_version'] | int >= 8

  - name: upgrade Percona Server to new rpm packages on CentOS
    package:
      name: "{{ packages }}"
      state: latest
    vars:
      packages:
      - percona-server-server
      - percona-server-test
      - percona-server-debuginfo
      - percona-server-devel
      - percona-server-rocksdb
      - percona-server-shared
      - percona-server-shared-compat
      - percona-server-client
    when: ansible_os_family == "RedHat" and ansible_distribution_major_version != "9"
    environment:
      PERCONA_TELEMETRY_DISABLE: "1"

  - name: upgrade Percona Server to new rpm packages on Oracle Linux 9
    package:
      name: "{{ packages }}"
      state: latest
    vars:
      packages:
      - percona-server-server
      - percona-server-test
      - percona-server-debuginfo
      - percona-server-devel
      - percona-server-rocksdb
      - percona-server-shared
      - percona-server-client
    when: ansible_os_family == "RedHat" and ansible_distribution_major_version == "9"
    environment:
      PERCONA_TELEMETRY_DISABLE: "1"

  - name: upgrade Percona XtraBackup to new rpm packages
    yum:
      name: "{{ packages }}"
      state: latest
    vars:
      packages:
      - percona-xtrabackup-{{ major_release_version }}
      - percona-xtrabackup-test-{{ major_release_version }}
      - percona-xtrabackup-{{ major_release_version }}-debuginfo
    when: 
      - ansible_facts['distribution'] in ["RedHat", "CentOS", "OracleLinux", "Amazon"]
      - ansible_facts['distribution_major_version'] | int <= 7
    environment:
      PERCONA_TELEMETRY_DISABLE: "1"

  - name: upgrade Percona XtraBackup to new rpm packages
    dnf:
      name: "{{ packages }}"
      state: latest
    vars:
      packages:
      - percona-xtrabackup-{{ major_release_version }}
      - percona-xtrabackup-test-{{ major_release_version }}
      - percona-xtrabackup-{{ major_release_version }}-debuginfo
    when: 
      - ansible_facts['distribution'] in ["RedHat", "CentOS", "OracleLinux", "Amazon"]
      - ansible_facts['distribution_major_version'] | int >= 8
    environment:
      PERCONA_TELEMETRY_DISABLE: "1"

  - name: install percona-mysql-shell package
    include_tasks: ../tasks/install_pshell.yml
    when: install_mysql_shell == "yes" or install_mysql_shell == ""

# Temporary restart mysql service till Ubuntu Focal restart issue is resolved.
  - name: restart mysql service after upgrade
    service: name=mysql state=restarted

  - name: list installed packages
    include_tasks: ../tasks/list_installed_packages.yml

  - name: check telemetry (disabled)
    command: /package-testing/check_telemetry.sh ps -d

  - name: check that Percona Server version is correct
    command: /package-testing/version_check.sh ps{{ major_release_version }}

  - name: check that Percona Server package versions are correct
    command: /package-testing/package_check.sh ps{{ major_release_version }}

  - name: check the data masking component
    command: /package-testing/scripts/ps_dm_component.sh

  - name: check the audit log v2 plugin
    command: /package-testing/scripts/ps_audit_log_v2_component.sh

  - name: finish my.cnf change test
    command: /package-testing/check_mycnf_post.sh

  - name: run some MyRocks tests
    command: /package-testing/scripts/ps_myrocks_test.sh

  - name: keyring Vault Component and plugins test
    include_tasks: ../tasks/ps_keyring_vault_component_test.yml

  - name: check that Percona XtraBackup version is correct
    command: /package-testing/version_check.sh pxb{{ major_release_version }}

  - name: run bats unit tests for ps-admin script
    command: /usr/local/bin/bats /package-testing/bats/ps-admin_unit.bats

  - name: run bats integration tests for ps-admin script
    command: /usr/local/bin/bats /package-testing/bats/ps-admin_integration.bats

  - name: run bats tests for mysql init scripts
    command: /usr/local/bin/bats /package-testing/bats/mysql-init-scripts.bats
    when: ansible_os_family == "RedHat" and ansible_distribution_major_version != "9"

  - name: start mysql service
    service: name=mysql state=started

  - name: remove Percona Server deb packages
    apt:
      name: "{{ packages }}"
      update_cache: no
      state: absent
    vars:
      packages:
      - percona-server*
    when: ansible_os_family == "Debian"

  - name: remove Percona Server rpm packages
    yum:
      name: "{{ packages }}"
      state: absent
    vars:
      packages:
      - percona-server*
    when: 
      - ansible_facts['distribution'] in ["RedHat", "CentOS", "OracleLinux", "Amazon"]
      - ansible_facts['distribution_major_version'] | int <= 7

  - name: remove Percona Server rpm packages
    dnf:
      name: "{{ packages }}"
      state: absent
    vars:
      packages:
      - percona-server*
    when: 
      - ansible_facts['distribution'] in ["RedHat", "CentOS", "OracleLinux", "Amazon"]
      - ansible_facts['distribution_major_version'] | int >= 8

  - name: check if process is stopped after package removal
    command: /package-testing/check_running.sh mysql stopped

  - stat:
      path: /var/lib/mysql
    register: p

  - name: check /var/lib/mysql exists and not empty
    fail:
      msg: "Path exists and is a directory and is not empty"
    when: p.stat.isdir is defined and p.stat.isdir and p.stat.size > 1000000
