---
# This playbook does following:
#   enables Percona testing repository
#   installs PSMDB 3.0
#   does some tests

- hosts: all
  become: true
  sudo: yes

  tasks:
  - name: include tasks for test env setup
    include: ../tasks/test_prep.yml

  - name: include tasks for enabling test repo
    include: ../tasks/enable_testing_repo.yml

  - name: install Percona Server for MongoDB 3.0 new deb packages
    apt: name={{item}} update_cache=yes state=latest
    with_items:
    - percona-server-mongodb
    - percona-server-mongodb-dbg
    when: ansible_os_family == "Debian"

  - name: install Percona Server for MongoDB 3.0 new rpm packages
    yum: name={{item}} state=latest
    with_items:
    - Percona-Server-MongoDB
    - Percona-Server-MongoDB-debuginfo
    when: ansible_os_family == "RedHat"

  - name: start mongod with init script
    command: /etc/init.d/mongod start
    when: ansible_os_family == "RedHat" and ansible_distribution_major_version == "5"

  - name: start mongod with service
    command: service mongod start
    when: ansible_os_family == "RedHat" and ansible_distribution_major_version == "6"

  - name: start mongod with systemctl
    command: systemctl start mongod
    when: ansible_os_family == "RedHat" and ansible_distribution_major_version == "7"

  - name: test SE change, import data, restart service
    command: /package-testing/psmdb_test.sh
