---
# This playbook upgrades the PXC node to the latest available version in testing repo

- hosts: all
  become: true
  become_method: sudo

  tasks:
  - name: include tasks for enabling testing repo
    include: ../tasks/enable_testing_repo.yml

# restart the bootstrapped node before upgrading
#
  - name: restart the service
    command: service mysql restart
    when: ansible_os_family == "Debian"

  - name: restart the service
    command: service mysql restart
    when: ansible_os_family == "Debian"

  - name: upgrade PXC 5.7 to new deb packages
    apt:
      name: "{{ packages }}"
      update_cache: yes 
      state: latest
    vars:
      packages:
      - percona-xtradb-cluster-full-57
      - percona-xtradb-cluster-test-5.7
      - percona-xtradb-cluster-source-5.7
      - percona-xtradb-cluster-server-debug-5.7
      - percona-xtradb-cluster-server-5.7
      - percona-xtradb-cluster-common-5.7
      - percona-xtradb-cluster-5.7-dbg
      - percona-xtradb-cluster-client-5.7
      - percona-xtradb-cluster-57
    when: ansible_os_family == "Debian"

  - name: upgrade PXC 5.7 to new rpm packages
    yum:
      name: "{{ packages }}"
      state: latest
    vars:
      packages:
      - Percona-XtraDB-Cluster-full-57
      - Percona-XtraDB-Cluster-test-57
      - Percona-XtraDB-Cluster-shared-57
      - Percona-XtraDB-Cluster-server-57
      - Percona-XtraDB-Cluster-garbd-57
      - Percona-XtraDB-Cluster-devel-57
      - Percona-XtraDB-Cluster-client-57
      - Percona-XtraDB-Cluster-57-debuginfo
      - Percona-XtraDB-Cluster-57
    when: ansible_os_family == "RedHat"

  - name: install Percona Server new rpm packages
    yum:
      name: "{{ packages }}"
      state: latest
    vars:
      packages:
       - Percona-XtraDB-Cluster-shared-compat-57
    when: ansible_os_family == "RedHat" and ansible_distribution_major_version == "7"

# PXC-2317 workaround
  - name: start mysql service
    service: name=mysql state=started
    when: ansible_os_family == "RedHat" and ansible_distribution_major_version == "6"
# PXC-2317 workaround

  - name: run mysql_upgrade
    command: /usr/bin/mysql_upgrade

  - name: restart the service
    command: service mysql restart

  - name: check that PXC version is correct
    command: /package-testing/version_check.sh pxc57

  - name: check that PXC package versions are correct
    command: /package-testing/package_check.sh pxc57

  - name: run bats tests for mysql init scripts
    command: /usr/local/bin/bats /package-testing/bats/mysql-init-scripts.bats

  - name: start mysql service
    service: name=mysql state=started

  - name: remove PXC deb packages
    apt:
      name: "{{ packages }}"
      update_cache: no
      state: absent
    vars:
      packages:
      - percona-xtradb-cluster-server-5.7
    when: ansible_os_family == "Debian"

  - name: remove PXC rpm packages
    yum:
      name: "{{ packages }}"
      state: absent
    vars:
      packages:
      - Percona-XtraDB-Cluster-server-57
    when: ansible_os_family == "RedHat"

  - name: check if process is stopped after package removal
    command: /package-testing/check_running.sh mysql stopped
